<%- include ("partials/header") %> 

<h1>You fell along with: <%= item %> </h1>
<p><%= 5+5 %>  </p>
<% if(item.toLowerCase() === "cock" ) {%>
    <p>PRAGER URINE</p>
<% } else { %>
    <p>DENIS IS NOT SATISFIED</p>
<% } %>  
<p>EJS FILE BABY</p>

<%- include ("partials/footer") %> 