<%- include('partials/h') %> 

<h1>eke</h1>
<img src="https://uploads.mangadex.org/covers/3b6c3a0b-8752-41fc-9d3e-1310f6f28252/7e8f3e6d-287d-40e3-8a44-c3b514634d66.jpg" alt="">
<%- include('partials/f') %> 
