<%- include('partials/h') %> 


<h1>fell in: <%= thing %>  </h1>
<% if(thing.toLowerCase()==="hentai") { %>
<p>I see you're a man of culture as well</p>
<%  }%> 
<p>ejs file</p>

<%- include('partials/f') %> 
